

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 5px 4px rgba(34, 32, 32, 0.2);
  padding-bottom: 20px ;

}

.image{
  padding-left: 5%;
}
.image >img{
  height: 140px;
}

.list-item{
  list-style: none;
  display: flex;
  margin-right: 15%;
  justify-content: space-between;  
}
.list-item >li{
  padding: 80px;
  font-size: 30px;
  font-family:fantasy
}

.item {
  list-style-type: none; /* Remove the default numbering */
  padding: 0; /* Remove default padding */
}

.item li {
  font-weight: bold; /* Make the text bold */
  display: block; /* Display list items as block elements */
  margin-bottom: 10px; /* Add some spacing between list items */
  align-items: center;
}
